<div class="accordion" itemscope itemtype="https://schema.org/FAQPage">
  {% for item in items %}
    <div class="accordion__item question-wrap" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <div class="accordion__subitem title-wrap">
        <span class="accordion__title uppercase" itemprop="name">{{ item.title | raw }}</span>
        <div class="accordion__icon-wrap">
          <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" class="img-responsive">
        </div>
      </div>
      <div class="accordion__subitem desc-wrap" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div class="accordion__desc" itemprop="text">{{ include(template_from_string(item.desc)) }}</div>
      </div>
    </div>
  {% endfor %}
  <div class="accordion__item show-all">
    <a href="javascript:void(0)" class="accordion__show-all link link-color-2 font-1-medium uppercase">{{ global.accordion['show-all'][currentLang.code] }}</a>
  </div>
</div>