{% if item.href %}
{% set is_static_file = item.href matches '/.*\\.(pdf|doc|docx|xls|xlsx|zip|rar|jpg|jpeg|png|gif|webp)$/' or item.href starts with 'data/' %}
<a href="{{ (item.href starts with 'http' or item.href starts with 'mailto:' or item.href starts with 'tel:' or is_static_file) ? item.href : (currentLang.code == 'ru' ? item.href : '/' ~ currentLang.code ~ item.href) }}" target="{{ item.target }}" class="{{ item.class }}">{{ item.title | raw }}</a>
{% else %}
<button class="{{ item.class }}">{{ item.title | raw }}</button>
{% endif %}